
@{
    ViewBag.Title = "Sách đã đánh dấu";
    Layout = "~/Views/Layout/_LayoutCustormer2.cshtml";
}
<div class="col-sm-4">
    <div class="card">
        <div class="card-header bg-success text-white">
            Quản lý tài khoản
        </div>
        <div class="card-body">
            <a class="dropdown-item rounded" href="/Account/AccountCurrent">Thông tin tài khoản</a>
            <a class="dropdown-item active rounded text-white">Sách đã đánh dấu</a>
            <a class="dropdown-item rounded" href="/Sach/SachDaMuon">Sách đã mượn</a>
        </div>
    </div>
</div>
<div class="col-sm-8">
    <div class="card">
        <div class="card-header bg-success text-white">
            Sách đánh dấu
        </div>
        <div class="card-body row" id="divBook">
        </div>
    </div>
    
</div>

