
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <meta name="description" content="@ViewBag.Description">
    <meta name="keywords" content="free boostrap, bootstrap template, freebies, free theme, free website, free portfolio theme, portfolio, personal, cv">
    <meta name="author" content="Cong nguyen, facebook.com/nnvncg">

    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="~/Content/img/favicon.ico">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/Content/font-awesome-4.2.0/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/jasny-bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/animate.css">

    <!-- Stylesheet
    ================================================== -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/responsive.css">

    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

</head>
<body>

    <!-- Off Canvas Navigation
    ================================================== -->
    <div class="navmenu navmenu-default navmenu-fixed-left offcanvas">
        <!--- Off Canvas Side Menu -->
        <div class="close" data-toggle="offcanvas" data-target=".navmenu">
            <span class="fa fa-close"></span>
        </div>
        <div class="add-margin"></div>
        <ul class="nav navmenu-nav d-inline-block text-center offset-sm-4">
            <!--- Menu -->
            @if (Session["Id"] != null)
            {
                <li>Xin chào @Session["Name"]</li>
            }
            <li><a href="/" class="page-scroll">Trang chủ</a></li>
            <li><a href="#" class="page-scroll">Giới thiệu</a></li>
            <li><a href="#" class="page-scroll">Sách</a></li>
            <li><a href="#" class="page-scroll">Liên hệ</a></li>
            @if (Session["Id"] == null)
            {
                <li><a href="#" class="page-scroll" data-toggle="modal" data-target="#exampleModal-1">Đăng nhập</a></li>
            }
            else
            {
                <li><a href="#">Tài khoản</a></li>
                <li><button class="btn btn-link" id="btnLogOut">Đăng xuất</button></li>
            }

        </ul><!--- End Menu -->
    </div> <!--- End Off Canvas Side Menu -->
    <!-- Home Section -->
    <div id="home">
        <div class="container text-center">
            <!-- Navigation -->
            <nav id="menu" data-toggle="offcanvas" data-target=".navmenu">
                <span class="fa fa-book text-danger"></span>
            </nav>

            <div class="content">
                @*<h4 class="text-warning">Chúng tôi là thư viện sách Đà Lạt</h4>*@
                <hr>
                <div class="header-text btn text-primary">
                    <h1><span id="head-title"></span></h1>
                </div>
            </div>

        </div>
    </div>

    <!-- Meet Us Section -->
    <div>
        <div class="container mt-sm-5 mb-sm-5">
            <div class="row">

                @RenderBody()

            </div>
        </div>
    </div>


    <nav id="footer">
        <div class="container">
            <div class="pull-left">
                <p>2017 © Da Lat <a href="#">....</a></p>
            </div>
            <div class="pull-right">
                <a href="#home" class="page-scroll">Back to Top <span class="fa fa-angle-up"></span></a>
            </div>
        </div>
    </nav>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.1.11.1.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="~/Content/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/Content/js/SmoothScroll.js"></script>
    <script type="text/javascript" src="~/Content/js/jasny-bootstrap.min.js"></script>
    <script src="~/scripts/notify.min.js"></script>
    <script src="~/Content/js/owl.carousel.js"></script>
    <script src="~/Content/js/typed.js"></script>
    <script>
        $(function () {
            $("#head-title").typed({
                strings: ["Chào mừng tới thư viện sách Đà Lạt^1000", "Nguồn sách phong phú^1000", "Thể loại đa dạng^1000"],
                typeSpeed: 100,
                loop: true,
                startDelay: 100
            });
        });        
    </script>
    <script src="~/scripts/Ajax.js"></script>
    <!-- Javascripts
    ================================================== -->
    <script type="text/javascript" src="~/Content/js/main.js"></script>

</body>
</html>